
.black-on-white {
  padding: 25px;
  background:#FFF;
  color:#666;
}

.white-on-black {
  padding: 25px;
  background:#000;
  color:#fff;
}

.large-text {
  font-size: 40px;
  line-height: 42px;
  font-family: 'Kameron', serif;
  font-weight: bold;
}